@import "src/style/main.scss";

.make-payment-card {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
}
